---
import logoSvg from '../../public/logo.svg?raw';

interface Props {
  alt?: string;
  className?: string;
  imageClassName?: string;
}

const { alt = "", className = "", imageClassName = "" } = Astro.props;
---
<span class:list={["inline-flex shrink-0 items-center justify-center overflow-hidden rounded-lg bg-white", className]}>
  <span
    role={alt ? "img" : undefined}
    aria-label={alt ? alt : undefined}
    aria-hidden={!alt ? "true" : undefined}
    class:list={["block h-full w-full [&_svg]:h-full [&_svg]:w-full", imageClassName]}
    set:html={logoSvg}
  />
</span>
