---
import logo from '../../public/logo.svg?raw';

interface Props {
  alt?: string;
  className?: string;
  imageClassName?: string;
}

const { alt = "", className = "", imageClassName = "" } = Astro.props;
---
<span class:list={["inline-flex shrink-0 items-center justify-center overflow-hidden rounded-lg bg-white", className]}>
  <!-- ⚡ Bolt Optimization: Manually inline the SVG to avoid extra network request since assetsInlineLimit=0 -->
  <span
    aria-label={alt}
    role={alt ? "img" : "presentation"}
    class:list={["block h-full w-full [&_svg]:h-full [&_svg]:w-full [&_svg]:object-contain", imageClassName]}
    set:html={logo}
  />
</span>
